RewriteEngine On
RewriteBase /

# Redirect URLs containing the "fbid" parameter
RewriteCond %{QUERY_STRING} (^|&)fbid= [NC]
RewriteRule ^ %{REQUEST_URI}? [R=301,L]

# Handle the link creation bits
RewriteRule ^create.*$ /index.php?create=true [QSA,L]
RewriteRule ^delete.*$ /index.php?delete=true [QSA,L]

# A catch-all for any items not found
ErrorDocument 404 /index.php
